/experiment/main/igcn_cf/.idea/
/experiment/main/igcn_cf/__pycache__/
/experiment/main/igcn_cf/hyperparameter/__pycache__/
/experiment/main/igcn_cf/hyperparameter/checkpoints/

/experiment/main/LightGCN-PyTorch/data/*/*.npz

/experiment/main/GTN-SIGIR2022/.idea/
/experiment/main/GTN-SIGIR2022/__pycache__/
/experiment/main/GTN-SIGIR2022/run_GTN/

# Byte-compiled / optimized / DLL files
/assignment/__pycache__/
*.py[cod]
*$py.class